<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mlsdev.serhiy.mycookbook" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AddRecipeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_note_screen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mlsdev.serhiy.mycookbook.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.GetImageActivity"
            android:label="@string/title_activity_get_image"
            android:parentActivityName=".ui.activity.AddRecipeActivity"
            android:theme="@style/AppTheme.Transparent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AddRecipeActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AddCategoryActivity"
            android:label="@string/add_category_screen"
            android:parentActivityName=".ui.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mlsdev.serhiy.mycookbook.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ChooseCategoryActivity"
            android:label="@string/title_activity_choose_category"
            android:parentActivityName=".ui.activity.AddRecipeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mlsdev.serhiy.mycookbook.ui.activity.AddRecipeActivity" />
        </activity>
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".ui.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mlsdev.serhiy.mycookbook.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:parentActivityName=".ui.activity.CategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mlsdev.serhiy.mycookbook.ui.activity.CategoryActivity" />
        </activity>
    </application>

</manifest>
